@import "base.css";

/*rem*/
header{
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
}

.search{
    padding: 0.17rem 0.22rem;
    height: 0.6rem;
    line-height: 0.6rem;
}
.search >a>span{
    float: left;
    color: #4ebbfe;
    font-size: 0.28rem;
}
.search .a{
    float: right;
    width: 5.93rem;
    height: 0.6rem;
    border: 0.01rem solid #89919a;
    border-radius: 0.3rem;
}
/*search*/
.banner{
    width: 100%;
    height: 3rem;
    position: relative;

}

.banner img{
    position: absolute;
    left: 0;
    right: 0;
}
.category{
    padding: 0.22rem;
    height: 6.9rem;
    display: flex;
    justify-content: space-between;
    /*默认主轴从左向右*/
    flex-wrap: wrap;
    /*align-content: center;*/
    /*align-items: center;*/
    /*交叉轴放中间*/
    /*flex-direction: row-reverse;*/
}
.category>li{
    width: 2.15rem;
    height: 1.94rem;

}

.category>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #8e9397;
    font-size: 0.24rem;
}
.category>li>a>div{
    width: 1.13rem;
    height: 1.13rem;
}

/*category*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.98rem;
    background: #f1f9ff;
    padding: 0 0.22rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

footer >a{
    width: 0.7rem;
    height: 100%;
    font-size: 0.24rem;
    color: #4ebbfe;
    text-align: center;
    padding-top: 0.1rem;
    box-sizing: border-box;
    opacity: 0.5;
}
footer>a.hot{
    opacity: 1;
}
footer >a>img{
    width: 0.51rem;
    height: 0.5rem;
    display: inline-block;
}